In [32]:
import pandas as pd
import numpy as np
import pyarrow

# Models
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.metrics import mean_squared_error

In [33]:
import mlflow

mlflow.set_tracking_uri("sqlite:///mlflow.db")
mlflow.set_experiment('nyc-taxi-experiment')

<Experiment: artifact_location='/home/ubuntu/mlops_zoomcamp_sam/02-mlflow/mlruns/1', creation_time=1684756547430, experiment_id='1', last_update_time=1684756547430, lifecycle_stage='active', name='nyc-taxi-experiment', tags={}>

## Question 1: Download the data
- Read the data, how many columns are there?

In [34]:
# Get current working directory
!pwd

/home/ubuntu/mlops_zoomcamp_sam/02-mlflow

In [8]:
import pathlib
data_path = pathlib.Path('../data')

def import_parquet_data(data_path, file):
    return pd.read_parquet(pathlib.Path(data_path, file), engine = 'pyarrow')

df = import_parquet_data(data_path, 'yellow_tripdata_2022-01.parquet')

The data has 19 columns

## Question 2. Computing Duration
- What's the standard deviation fo trips duration in January?

In [9]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.50,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.00,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.50,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.00,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.50,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2463926,2,2022-01-31 23:36:53,2022-01-31 23:42:51,NaN,1.32,NaN,None,90,170,0,8.00,0.0,0.5,2.39,0.0,0.3,13.69,NaN,NaN
2463927,2,2022-01-31 23:44:22,2022-01-31 23:55:01,NaN,4.19,NaN,None,107,75,0,16.80,0.0,0.5,4.35,0.0,0.3,24.45,NaN,NaN
2463928,2,2022-01-31 23:39:00,2022-01-31 23:50:00,NaN,2.10,NaN,None,113,246,0,11.22,0.0,0.5,2.00,0.0,0.3,16.52,NaN,NaN
2463929,2,2022-01-31 23:36:42,2022-01-31 23:48:45,NaN,2.92,NaN,None,148,164,0,12.40,0.0,0.5,0.00,0.0,0.3,15.70,NaN,NaN
2463930,2,2022-01-31 23:46:00,2022-02-01 00:13:00,NaN,8.94,NaN,None,186,181,0,25.48,0.0,0.5,6.28,0.0,0.3,35.06,NaN,NaN

In [10]:
df['Duration'] = df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']
df.Duration = df.Duration.apply(lambda td: td.total_seconds() / 60)
df['Duration'].std() # numpy standard deviation
# 46.45

46.44530513776802

## Question 3. Dropping Outliers
- Keep only between 1 and 60 minute rides (inclusive)

In [11]:
 # Use DataFrame.loc[] to filter by multiple conditions
df2 = df.loc[(df['Duration']>=1) & (df['Duration'] <= 60), :]

In [12]:
assert df2['Duration'].min() > .98, 'Check on Min Value Filtering'
assert df2['Duration'].max() < 60.2, 'Check on Max Value Filtering'

In [13]:
df2.shape[0] / df.shape[0] # 98.27%

0.9827547930522406

## Q4. One Hot Encoding
- Turn DF into list of dicts
- Fit DicVectorizor
- Get a feature matrix

- What's the dimensionality of the matrix?

In [14]:
# Only keep pickup and dropoff location columns
categorical = ['PULocationID', 'DOLocationID']
df2[categorical] = df2[categorical].astype(str)

/tmp/ipykernel_1810/222181778.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[categorical] = df2[categorical].astype(str)

In [15]:
# Turn DF into list of dicts
train_dicts = df2[categorical].to_dict(orient='records')

In [16]:
dv = DictVectorizer()
X_train = dv.fit_transform(train_dicts)

In [17]:
target = 'Duration'
y_train = df2[target].values

lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_train)

mean_squared_error(y_train, y_pred, squared=False)

6.986191065500608

## Import Feb Data to Validate

In [18]:
df = import_parquet_data(data_path, 'yellow_tripdata_2022-02.parquet')

In [19]:
# Create Target
df['Duration'] = df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']
df.Duration = df.Duration.apply(lambda td: td.total_seconds() / 60)

# Remove Outliers
df_feb = df.loc[(df['Duration']>=1) & (df['Duration'] <= 60), :]

In [20]:
# Only keep pickup and dropoff location columns
categorical = ['PULocationID', 'DOLocationID']
df_feb[categorical] = df_feb[categorical].astype(str)

/tmp/ipykernel_1810/2963711502.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feb[categorical] = df_feb[categorical].astype(str)

In [21]:
# Turn DF into list of dicts
valid_dicts = df_feb[categorical].to_dict(orient='records')

In [22]:
x_valid = dv.transform(valid_dicts)
y_valid = df_feb[target].values

In [23]:
y_pred = lr.predict(x_valid)
mean_squared_error(y_valid, y_pred, squared=False)

7.786408015215065

In [24]:
import pickle
with open('../models/lin_reg.bin', 'wb') as f_out:
    pickle.dump((dv, lr), f_out)

In [35]:
with mlflow.start_run():
    lr = Lasso(0.1)
    lr.fit(X_train, y_train)
    
    y_pred = lr.predict(x_valid)
    mean_squared_error(y_valid, y_pred, squared = False)

2023/05/22 12:12:24 ERROR mlflow.store.db.utils: SQLAlchemy database error. The following exception is caught.
(sqlite3.OperationalError) attempt to write a readonly database
[SQL: INSERT INTO runs (run_uuid, name, source_type, source_name, entry_point_name, user_id, status, start_time, end_time, deleted_time, source_version, lifecycle_stage, artifact_uri, experiment_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: ('6e3e787faaef42a49d83cbda5566c5ff', 'valuable-elk-826', 'UNKNOWN', '', '', 'ubuntu', 'RUNNING', 1684757544775, None, None, '', 'active', '/home/ubuntu/mlops_zoomcamp_sam/02-mlflow/mlruns/1/6e3e787faaef42a49d83cbda5566c5ff/artifacts', '1')]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Traceback (most recent call last):
  File "/home/ubuntu/anaconda3/envs/exp_tracking_env/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 1968, in _exec_single_context
    self.dialect.do_execute(
  File "/home/ubuntu/anaconda3/envs/exp_tracking_env/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 920, in do_execute
    cursor.execute(statement, parameters)
sqlite3.OperationalError: attempt to write a readonly database

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/ubuntu/anaconda3/envs/exp_tracking_env/lib/python3.9/site-packages/mlflow/store/db/utils.py", line 137, in make_managed_session
    session.commit()
  File "/home/ubuntu/anaconda3/envs/exp_tracking_env/lib/python3.9/site-packages/sqlalchemy/orm/session.py", line 1906, in commit
    trans.commit(_to_root=True)
  File "<string>", line 2, in commit
  File "/home/ubuntu/anaconda3/envs/exp_tracking_env/lib/python3.9/site-packages/sqlalchemy/orm/state_changes.py", line 137, in _go
    ret_value = fn(self, *arg, **kw)
  File "/home/ubuntu/anaconda3/envs/exp_tracking_env/lib/python3.9/site-packages/sqlalchemy/orm/session.py", line 1221, in commit
    self._prepare_impl()
  File "<string>", line 2, in _prepare_impl
  File "/home/ubuntu/anaconda3/envs/exp_tracking_env/lib/python3.9/site-packages/sqlalchemy/orm/state_changes.py", line 137, in _go
    ret_value = fn(self, *arg, **kw)
  File "/home/ubuntu/anaconda3/envs/exp_tracking_env/lib/python3.9/site-packages/sqlalchemy/orm/session.py", line 1196, in _prepare_impl
    self.session.flush()
  File "/home/ubuntu/anaconda3/envs/exp_tracking_env/lib/python3.9/site-packages/sqlalchemy/orm/session.py", line 4154, in flush
    self._flush(objects)
  File "/home/ubuntu/anaconda3/envs/exp_tracking_env/lib/python3.9/site-packages/sqlalchemy/orm/session.py", line 4291, in _flush
    transaction.rollback(_capture_exception=True)
  File "/home/ubuntu/anaconda3/envs/exp_tracking_env/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "/home/ubuntu/anaconda3/envs/exp_tracking_env/lib/python3.9/site-packages/sqlalchemy/orm/session.py", line 4251, in _flush
    flush_context.execute()
  File "/home/ubuntu/anaconda3/envs/exp_tracking_env/lib/python3.9/site-packages/sqlalchemy/orm/unitofwork.py", line 467, in execute
    rec.execute(self)
  File "/home/ubuntu/anaconda3/envs/exp_tracking_env/lib/python3.9/site-packages/sqlalchemy/orm/unitofwork.py", line 644, in execute
    util.preloaded.orm_persistence.save_obj(
  File "/home/ubuntu/anaconda3/envs/exp_tracking_env/lib/python3.9/site-packages/sqlalchemy/orm/persistence.py", line 93, in save_obj
    _emit_insert_statements(
  File "/home/ubuntu/anaconda3/envs/exp_tracking_env/lib/python3.9/site-packages/sqlalchemy/orm/persistence.py", line 1040, in _emit_insert_statements
    result = connection.execute(
  File "/home/ubuntu/anaconda3/envs/exp_tracking_env/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 1413, in execute
    return meth(
  File "/home/ubuntu/anaconda3/envs/exp_tracking_env/lib/python3.9/site-packages/sqlalchemy/sql/elements.py", line 483, in _execute_on_connection
    return connection._execute_clauseelement(
  File "/home/ubuntu/anaconda3/envs/exp_tracking_env/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 1637, in _execute_clauseelement
    ret = self._execute_context(
  File "/home/ubuntu/anaconda3/envs/exp_tracking_env/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 1846, in _execute_context
    return self._exec_single_context(
  File "/home/ubuntu/anaconda3/envs/exp_tracking_env/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 1987, in _exec_single_context
    self._handle_dbapi_exception(
  File "/home/ubuntu/anaconda3/envs/exp_tracking_env/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2344, in _handle_dbapi_exception
    raise sqlalchemy_exception.with_traceback(exc_info[2]) from e
  File "/home/ubuntu/anaconda3/envs/exp_tracking_env/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 1968, in _exec_single_context
    self.dialect.do_execute(
  File "/home/ubuntu/anaconda3/envs/exp_tracking_env/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 920, in do_execute
    cursor.execute(statement, parameters)
sqlalchemy.exc.OperationalError: (sqlite3.OperationalError) attempt to write a readonly database
[SQL: INSERT INTO runs (run_uuid, name, source_type, source_name, entry_point_name, user_id, status, start_time, end_time, deleted_time, source_version, lifecycle_stage, artifact_uri, experiment_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: ('6e3e787faaef42a49d83cbda5566c5ff', 'valuable-elk-826', 'UNKNOWN', '', '', 'ubuntu', 'RUNNING', 1684757544775, None, None, '', 'active', '/home/ubuntu/mlops_zoomcamp_sam/02-mlflow/mlruns/1/6e3e787faaef42a49d83cbda5566c5ff/artifacts', '1')]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

MlflowException: (sqlite3.OperationalError) attempt to write a readonly database
[SQL: INSERT INTO runs (run_uuid, name, source_type, source_name, entry_point_name, user_id, status, start_time, end_time, deleted_time, source_version, lifecycle_stage, artifact_uri, experiment_id) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: ('6e3e787faaef42a49d83cbda5566c5ff', 'valuable-elk-826', 'UNKNOWN', '', '', 'ubuntu', 'RUNNING', 1684757544775, None, None, '', 'active', '/home/ubuntu/mlops_zoomcamp_sam/02-mlflow/mlruns/1/6e3e787faaef42a49d83cbda5566c5ff/artifacts', '1')]
(Background on this error at: https://sqlalche.me/e/20/e3q8)